# System related
build
pyyaml
types-pyyaml
ipywidgets
gcsfs
# Scipy stack
numpy
matplotlib
scikit-learn
pandas
pandas-stubs
pyarrow
types-Pillow
# Deep learning
torch
torchvision
einops
accelerate
tensorboard
# GCP
google-cloud-aiplatform
kfp
# Others
tqdm
types-tqdm
# Testing
pytest
pytest-cov
pytest-mock
# Formatiing, linting
mypy
pylint
black
isort
